*           text=lf
*.txt		text
*.jpg		-text
*.vcproj	text eol=lf
*.sh		text eol=lf
*.py		text eol=lf
*.java      text eol=lf
*.scala     text eol=lf
*.yml       text eol=lf
*.yaml      text eol=lf
*.xml       text eol=lf

